<%= form_for :session, url: session_path, html: {class: "form-horizontal"} do |form| %>
  <ul class="list-group">
  </ul>

  <div class="form-group">
    <%= form.label :email, class: "col-md-2 control-label" %>
    <div class="col-md-9">
      <%= form.email_field :email, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :password, class: "col-md-2 control-label" %>
    <div class="col-md-9">
      <%= form.password_field :password, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-9">
      <%= form.button "Sign in", class: "btn btn-success btn-sm", data: {disable_with: "#{fa_icon('spinner spin')} Signing in..."} %>
      <%= link_to t(".forgot_password"), new_password_path, class: "spacer-left-xs" %>
    </div>
  </div>
<% end %>
