<%= link_to "#", class: "list-group-item" do %>
  <h2><%= album.title %></h2>
  <span class="icon">
    <%= fa_icon "clock-o", text: "#{album.release_date.year}" %>
    <%= fa_icon "tag", text: "#{album.genre.name}", class: "spacer-left-xs" %>
    <%= fa_icon "music", text: "5", class: "spacer-left-xs" %>
    <%= fa_icon "comment-o", text: "6", class: "spacer-left-xs" %>
  </span>
<% end %>
