<div class="album" data-behavior="artist-album-<%= album.id %>">
  <%= link_to [artist, album] do %>
    <%= image_tag(album.cover.small.url, class: "center-block") if album.cover? %>
  <% end %>
  <div class="title">
    <h2><%= link_to album.title, [artist, album] %></h2>
    <span class="icon">
      <%= link_to edit_artist_album_path(album.artist, album) do %>
        <%= fa_icon "edit", text: "Edit" %>
      <% end %>
      <%= link_to artist_album_path(album.artist, album), remote: true, class: "spacer-left-xs", method: :delete, data: {confirm: "Are you sure you want to remove #{album.title}"} do %>
        <%= fa_icon "remove", text: "Remove" %>
      <% end %>
      <%= fa_icon "calendar", text: "#{album.release_date.year}", class: "spacer-left-xs" %>
      <%= link_to albums_path(genre: album.genre.name), class: "spacer-left-xs" do %>
        <%= fa_icon "tag", text: "#{album.genre.name}" %>
      <% end %>
      <%= fa_icon "comment-o", text: "0", class: "spacer-left-xs" %>
    </span>
  </div>
  <h3 class="album-details"><small><%= "(#{album.tracks.count} Tracks, Time #{album.total_duration})" %></small></h3>
  <ul>
    <% album.tracks_summary.each do |track_title| %>
      <li><%= track_title %></li>
    <% end %>
  </ul>
</div>
