<% cache artist do %>
  <%= link_to artist do %>
    <div class="artist">
      <h2><%= artist.name %></h2>
      <% if artist.description? %>
        <p><%= artist.description %></p>
      <% end %>
      <span class="icon">
        <%= fa_icon "music", text: "#{artist.albums.count}" %>
        <%= fa_icon "comment-o", text: "#{artist.comments.count}", class: "spacer-left-xs" %>
      </span>
    </div>
  <% end %>
<% end %>
