<div class="well">
  <%= form_for artist, html: {class: "form-horizontal"} do |f| %>
    <ul class="list-group" data-behavior="artist-form-errors">
      <% if artist.errors.any? %>
        <% artist.errors.full_messages.each do |msg| %>
          <li class="list-group-item list-group-item-danger"><%= msg %></li>
        <% end %>
      <% end %>
    </ul>

    <div class="form-group <%= has_error?(artist, :name) %>" data-behavior="artist-name">
      <%= f.label :name, class: "col-md-2 control-label" %>
      <div class="col-md-9">
        <%= f.text_field :name, class: "form-control", placeholder: "The Artist" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :wikipedia, class: "col-md-2 control-label" %>
      <div class="col-md-9">
        <%= f.text_field :wikipedia, class: "form-control", placeholder: "The_Artist" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :website, class: "col-md-2 control-label" %>
      <div class="col-md-9">
        <%= f.text_field :website, class: "form-control", placeholder: "http://www.theartist.com" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :description, class: "col-md-2 control-label" %>
      <div class="col-md-9">
        <%= f.text_area :description, rows: 7, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-2 col-md-9">
        <%= link_to "Cancel", back_link, class: "btn btn-default btn-sm" %>
        <%= f.button "Submit", class: "btn btn-success btn-sm", data: {disable_with: "#{fa_icon('spinner spin')} Submitting..."} %>
      </div>
    </div>
  <% end %>
</div>
