<% cache "artists_sidebar", expires_in: 5.minutes do %>
  <aside id="artists-sidebar" class="col-md-2">
    <section class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">New Albums</h4>
      </div>
      <div class="new-albums list-group">
        <% Album.with_relations.most_recent.each do |album| %>
          <div class="album list-group-item">
            <h5><%= link_to album.title, [album.artist, album] %></h5>
            <h5>by <%= link_to album.artist.name, album.artist %></h5>
            <%= link_to [album.artist, album] do %>
              <%= image_tag(album.cover.small.url, class: "img-responsive center-block") if album.cover? %>
            <% end %>
          </div>
        <% end %>
      </div>
    </section>

    <section class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">New Comments</h4>
      </div>
      <div class="new-comments list-group">
        <% Comment.most_recent.each do |comment| %>
          <div class="comment list-group-item">
            <h5>
              <%= local_time_ago comment.created_at %> by
            </h5>
            <h5><%= link_to comment.user.name, user_comments_path(comment.user.slug) %></h5>
            <%= link_to user_comments_path(comment.user.slug) do %>
              <%= image_tag(gravatar_url(comment.user), class: "image-responsive center-block") %>
            <% end %>
            <h5>
              in <%= link_to commentable_name(comment), commentable_path(comment) %>
            </h5>
          </div>
        <% end %>
      </div>
    </section>
  </aside>
<% end %>
