<% cache "artists_sidebar", expires_in: 1.hour do %>
  <aside id="artists-sidebar" class="col-md-2">
    <section class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">New Albums</h4>
      </div>
      <div class="new-albums list-group">
        <% Album.including.most_recent.each do |album| %>
          <div class="album list-group-item">
            <h5><%= link_to album.title, [album.artist, album] %></h5>
            <h5>by <%= link_to album.artist.name, album.artist %></h5>
            <%= link_to [album.artist, album] do %>
              <%= image_tag(album.cover.small.url, class: "img-responsive center-block") if album.cover? %>
            <% end %>
            <div class="icon">
              <%= fa_icon "comment-o", text: "0"%>
            </div>
          </div>
        <% end %>
      </div>
    </section>

    <section class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">New Comments</h4>
      </div>
      <div class="new-comments list-group">
        <a href="#" class="list-group-item">Cras justo odio</a>
        <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
        <a href="#" class="list-group-item">Morbi leo risus</a>
        <a href="#" class="list-group-item">Porta ac consectetur ac</a>
        <a href="#" class="list-group-item">Vestibulum at eros</a>
      </div>
    </section>
  </aside>
<% end %>
