<% title("Platter - Artists") %>
<div class="row">
  <div class="col-md-10">
    <div id="artists">
      <div class="artists-header page-header">
        <h1>Artists <small>(<%= number_with_delimiter(@artists.total_count) %> <%= "Artist".pluralize(@artists.total_count) %>)</small></h1>
        <%= link_to new_artist_path, class: "action" do %>
          <%= fa_icon "plus" %> Artist
        <% end %>
      </div>

      <div class="list-choice text-center">
        <ul class="pagination pagination-sm">
          <li><%= link_to "All", artists_path %></li>
          <% unless params.key?(:search) %>
            <% ("A".."Z").each do |letter| %>
              <li data-behavior="artist-letter-picker" class=<%= letter_activity(params, letter) %>><%= link_to letter, artists_path(letter: letter) %></li>
            <% end %>
            <li><a class="search-link" data-behavior="artist-search-link">Search</a></li>
          <% end %>
        </ul>
      </div>

      <%= render partial: "search/search", locals: {type: "artist", path: artists_path} %>

      <% if @artists.size == 0 %>
        <h4 class="text-center">No matching artists</h4>
      <% else %>
        <%= render partial: "artist", collection: @artists %>
        <%= paginate @artists %>
      <% end %>
    </div>
  </div>
</div>
