<% title("Platter - Artists") %>
<div class="row">
  <div class="col-sm-10">
    <div id="artists">
      <div class="page-header">
        <div class="pull-left">
          <%= index_page_header_text("Artist", @artists) %>
        </div>
        <div class="pull-right">
          <%= link_to new_artist_path, class: "action" do %>
            <%= fa_icon "plus" %> Artist
          <% end %>
        </div>
        <div class="clearfix"></div>
      </div>

      <div class="list-choice text-center">
        <ul class="pagination pagination-sm">
          <li><%= link_to "All", artists_path %></li>
          <% unless params.key?(:search) %>
            <% ("A".."Z").each do |letter| %>
              <li data-behavior="artist-letter-picker" class=<%= letter_activity(params, letter) %>><%= link_to letter, artists_path(letter: letter) %></li>
            <% end %>
          <% end %>
          <li><a class="search-link" title="Search" data-toggle="tooltip" data-behavior="artist-search-link"><%= fa_icon "search" %></a></li>
        </ul>
      </div>

      <%= render partial: "search/search", locals: {type: "artist", path: artists_path} %>

      <% if @artists.size == 0 %>
        <h4 class="text-center">No matching artists</h4>
      <% else %>
        <%= render partial: "artist", collection: @artists %>
        <%= paginate @artists %>
      <% end %>
    </div>
  </div>
  <div id="recent-albums" class="col-sm-2">
    <h4>Latest albums</h4>
    <% Album.most_recent.each do |album| %>
      <div class="album">
        <h5><%= album.title %></h5>
        <%= image_tag(album.cover.small.url, class: "center-block") if album.cover? %>
      </div>
    <% end %>
  </div>
</div>
