<div id="artists">
  <div class="page-header">
    <h1>Artists <small>(<%= fa_icon "th", text: number_with_delimiter(Artist.count) %>)</small></h1>
    <%= link_to new_artist_url, class: "action" do %>
      <%= fa_icon "plus" %> Artist
    <% end %>
  </div>

  <%= render @artists %>
  <%= paginate @artists %>
</div>
