<% title("Platter - Artists") %>
<div class="row">
  <div class="col-md-10">
    <div id="artists">
      <div class="artists-header page-header">
        <h1>Artists <small>(<%= number_with_delimiter(@artists.total_count) %> Artists)</small></h1>
        <%= link_to new_artist_path, class: "action" do %>
          <%= fa_icon "plus" %> Artist
        <% end %>
      </div>

      <div class="album-filter text-center">
        <ul class="album-alphanumeric pagination pagination-sm">
          <li><%= link_to "All", artists_path %></li>
          <% ("A".."Z").each do |letter| %>
            <li class=<%= letter_activity(params, letter) %>><%= link_to letter, artists_path(letter: letter) %></li>
          <% end %>
          <li><%= link_to "Search", artists_path %></li>
        </ul>
      </div>

      <% unless params[:digit] || params[:letter] %>
        <div class="album-search row">
          <%= form_tag artists_path, method: :get, enforce_utf8: false, id: "search-artists", class: "form-group text-center" do %>
            <div class="col-xs-6 col-xs-offset-3 input-group">
              <%= text_field_tag :search, params[:search], class: "form-control input-sm", placeholder: "Search Artists..." %>
              <span class="input-group-addon">
                <%= fa_icon "search" %>
              </span>
            </div>
          <% end %>
        </div>
      <% end %>

      <%= render partial: "artist", collection: @artists %>
      <%= paginate @artists %>
    </div>
  </div>
</div>
