<% title("Platter - Artists") %>
<div class="row">
  <div class="col-md-10">
    <div id="artists">
      <div class="artists-header page-header">
        <h1>Artists <small>(<%= number_with_delimiter(@artists.total_count) %> Artists)</small></h1>
        <%= link_to new_artist_path, class: "action" do %>
          <%= fa_icon "plus" %> Artist
        <% end %>
      </div>

      <div class="artist-filter text-center">
        <ul class="artist-selection pagination pagination-sm">
          <li><%= link_to "All", artists_path %></li>
          <% ("A".."Z").each do |letter| %>
            <li class=<%= letter_activity(params, letter) %>><%= link_to letter, artists_path(letter: letter) %></li>
          <% end %>
          <li><a class="artist-search-link" data-behavior="artist-search-link">Search</a></li>
        </ul>
      </div>

      <div class="artist-search-form row" data-behavior="artist-search-form" style="display: none">
        <%= form_tag artists_path, method: :get, enforce_utf8: false, class: "form-group text-center" do %>
          <div class="col-xs-6 col-xs-offset-3 input-group">
            <%= text_field_tag :search, params[:search], class: "form-control input-sm", placeholder: "Search Artists...", data: {behavior: "artist-search-field"} %>
            <span class="input-group-btn">
              <%= button_tag fa_icon("search"), class: "artist-search-submit btn btn-default btn-sm", name: nil %>
            </span>
          </div>
        <% end %>
      </div>

      <%= render partial: "artist", collection: @artists %>
      <%= paginate @artists %>
    </div>
  </div>
</div>
