<div id="platters">
  <div class="page-header">
    <h1>Artists <span class="badge"><%= number_with_delimiter(Artist.count) %></span></h1>
    <%= link_to new_artist_url, class: "action" do %>
      <%= fa_icon "plus" %> Artist
    <% end %>
  </div>

  <%= render @artists %>
  <%= paginate @artists %>
</div>
