<% title(@artist.name) %>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div id="artist">
      <div class="page-header">
        <div class="pull-left">
          <h1><%= @artist.name %></h1>
        </div>
        <% if signed_in_as_admin? %>
          <div class="pull-right">
            <ul class="list-inline">
              <li>
                <%= link_to artist_path, class: "spacer-left-xs action", method: :delete, data: {confirm: "Are you sure you want to remove #{@artist.name}?"} do %>
                  <%= fa_icon "remove" %> Remove
                <% end %>
              </li>
              <li>
                <%= link_to edit_artist_path, class: "action" do %>
                  <%= fa_icon "edit" %> Edit
                <% end %>
              </li>
            </ul>
          </div>
        <% end %>
        <div class="clearfix"></div>
      </div>

      <div class="description">
        <p><%= @artist.description %></p>
        <% if @artist.wikipedia.present? %>
          <%= link_to "Wikipedia", "https://www.wikipedia.org/wiki/#{@artist.wikipedia}", target: "_blank", rel: "noopener noreferrer" %>
        <% end %>
      </div>

      <% if @artist.website.present? %>
        <div class="website">
          <span class="icon"><%= fa_icon "globe" %></span>
          <%= sanitize link_to(@artist.website_link, @artist.website, target: "_blank"), attributes: %w(href target) %>
        </div>
      <% else %>
        <div class="spacer-bottom-sm"></div>
      <% end %>

      <div class="page-header">
        <div class="pull-left">
          <%= header_text_with_counter(:h2, "Album", @albums.size) %>
        </div>
        <% if signed_in_as_admin? %>
          <div class="pull-right">
            <%= link_to new_artist_album_path(@artist), class: "action" do %>
              <%= fa_icon "plus" %> Album
            <% end %>
          </div>
        <% end %>
        <div class="clearfix"></div>
      </div>

      <% if !@albums.empty? %>
        <ul class="albums-order">
          <li data-behavior="order-newest"> <%= link_to "Newest",  albums_artist_path(newest: true),  remote: true, class: "active" %></li>
          <li data-behavior="order-oldest"> <%= link_to "Oldest",  albums_artist_path(oldest: true),  remote: true %></li>
          <li data-behavior="order-longest"><%= link_to "Longest", albums_artist_path(longest: true), remote: true %></li>
          <li data-behavior="order-name">   <%= link_to "Name",    albums_artist_path(name: true),    remote: true %></li>
        </ul>
      <% end %>

      <div data-behavior="artist-albums">
        <%= render partial: "album", collection: @albums, locals: {artist: @artist} %>
      </div>

      <div class="spacer-bottom-lg"></div>
      <%= render partial: "shared/comments", locals: {comments: @comments, comments_path: @comments_path, commentable: @artist, commentable_path: [@artist]} %>
    </div>
  </div>
</div>
