<% title(@artist.name) %>
<div id="artist">
  <div class="page-header">
    <h1><%= @artist.name %></h1>
    <div class="action">
      <%= link_to edit_artist_url do %>
        <%= fa_icon "edit" %> Edit
      <% end %>
      <%= link_to artist_url, class: "spacer-left-xs", method: :delete, data: {confirm: "Are you sure you want to remove #{@artist.name}"} do %>
        <%= fa_icon "remove" %> Remove
      <% end %>
    </div>
  </div>
  <div class="description">
    <p><%= @artist.description %></p>
    <% if @artist.wikipedia? %>
      <%= link_to "Wikipedia", "https://www.wikipedia.org/wiki/#{@artist.wikipedia}", target: "_blank" %>
    <% end %>
  </div>
  <% if @artist.website? %>
    <div class="website">
      <span class="icon"><%= fa_icon "globe" %></span>
      <%= link_to @artist.website_link, @artist.website, target: "_blank" %>
    </div>
  <% end %>
</div>

<div id="artist-albums">
  <div class="row">
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading">Albums</div>
        <div class="list-group">
          <%= render partial: "album", collection: @artist.albums %>
        </div>
      </div>
    </div>
  </div>
</div>
