<div class="search-form row" data-behavior=<%= "#{type}-search-form" %> <%= search_form_visibility(params) %>>
  <%= form_tag path, method: :get, enforce_utf8: false, class: "form-group text-center" do %>
    <div class="col-xs-6 col-xs-offset-3 input-group">
      <%= text_field_tag :search, params[:search], class: "form-control input-sm", placeholder: "Search #{type.titleize}s...", data: {behavior: "#{type}-search-field"} %>
      <span class="input-group-btn">
        <%= button_tag fa_icon("search"), class: "search-submit btn btn-default btn-sm", name: nil %>
      </span>
    </div>
  <% end %>
</div>
