<% title("Platters - #{@user.name}") %>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="page-header">
      <h1>Account <small><%= @user.email %></small></h1>
    </div>

    <div class="well">
      <%= form_for @user, html: {class: "form-horizontal"} do |f| %>
        <ul class="list-group" data-behavior="user-form-errors">
          <% if @user.errors.any? %>
            <% @user.errors.full_messages.each do |msg| %>
              <li class="list-group-item list-group-item-danger"><%= msg %></li>
            <% end %>
          <% end %>
        </ul>
        <div class="form-group">
          <%= f.label :name, class: "col-md-2 control-label" %>
          <div class="col-md-9">
            <%= f.text_field :name, class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :password, class: "col-md-2 control-label" %>
          <div class="col-md-9">
            <%= f.password_field :password, class: "form-control" %>
            <span class="help-block">
              You must enter a password even if you are only changing your account name
            </span>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-2 col-md-9">
            <%= f.button "Update", class: "btn btn-success btn-sm", data: {disable_with: "#{fa_icon('spinner spin')} Updating..."} %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="page-header">
      <h2>Avatar</h2>
    </div>

    <div class="well user-avatar">
      <p>
      Set a custom avatar for Platters by registering at Gravatar with your
      email address.
      </p>
      
      <p>Gravatar is a global free avatar service used by many applications
      including: Wordpress, Github and Stackoverflow. Click on the avatar below
      to be taken to Gravatar.
      </p>

      <a href="https://gravatar.com">
        <%= image_tag gravatar_url(@user, 160), class: "img-responsive" %>
      </a>
    </div>

    <div class="page-header">
      <h2>Delete account</h2>
    </div>

    <div class="well">
      <p>Once you delete your account all your comments will also be deleted, there is no going back. Please be certain!</p>
      <%= button_to "Delete account", user_path, class: "btn btn-danger btn-sm", method: :delete, data: {confirm: "Are you sure you want to delete your account?"} %>
    </div>
  </div>
</div>
