<div id="comments" data-behavior="show-more-comments" data-comments-url="<%= comments_path %>" data-current-page="<%= comments.current_page %>" data-total-pages="<%= comments.total_pages %>">
  <div class="page-header">
    <%= header_text_with_counter(:h3, "Comment", commentable.comments.count) %>
  </div>

  <% if signed_in? %>
    <%= form_for [*commentable_path, Comment.new], remote: true, data: {behavior: "comment-form"} do |f| %>
      <div class="form-group">
        <%= f.text_area :body, rows: 3, class: "form-control", placeholder: "Write a comment...", data: {behavior: "write-comment"} %>
      </div>

      <div class="form-group">
        <div class="pull-right">
          <span class="comment-length" data-behavior="comment-length"><%= fa_icon "plus-square-o", text: "280" %></span>
          <%= f.button "Post it", disabled: true, class: "btn btn-success btn-sm", data: {behavior: "post-comment"} %>
        </div>
        <div class="clearfix"></div>
      </div>
    <% end %>
  <% end %>

  <div data-behavior="comments">
    <% if commentable.comments.count == 0 %>
      <h4 data-behavior="no-comments-posted">No comments have been posted for this <%= commentable.class.to_s.downcase %></h4>
    <% else %>
      <%= render partial: "comments/comment", collection: comments, locals: {with_posted_in: false} %>
    <% end %>
  </div>
</div>
