<% if signed_out? %>
  <div id="home">
    <div class="first row">
      <div class="col-md-7">
        <div class="jumbotron">
          <h1>Platters</h1>
          <p>An album collection web application developed using modern web technologies.</p>
          <div class="text-center">
            <%= link_to "About", about_path, class: "btn btn-success btn-lg" %>
            <%= link_to "Sign up", sign_up_path, class: "btn btn-success btn-lg" %>
          </div>
        </div>
      </div>

      <div class="col-md-5">
        <div class="logo">
          <%= image_tag "platters-black.svg", class: "img-responsive center-block" %>
        </div>
      </div>
    </div>

    <div class="dark row">
      <h2>Prime technologies used by the Platters application.</h2>
      <div class="technologies">
        <div class="col-sm-4 text-center">
          <%= fa_icon "diamond" %>
          <p>Ruby on Rails server-side web application framework</p>
        </div>
        <div class="col-sm-4 text-center">
          <%= fa_icon "database" %>
          <p>PostgreSQL and Redis database systems</p>
        </div>
        <div class="col-sm-4 text-center">
          <%= fa_icon "tablet" %>
          <p>Bootstrap responsive front-end web framework.</p>
        </div>
      </div>
      <div class="complete-details">
        <%= link_to "Complete details", details_path, class: "btn btn-success" %>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-12">
    <% cache "album_of_the_day", expires_in: Time.now.end_of_day - Time.now do %>
      <div id="album-of-the-day">
        <% album = Album.spotlight %>
        <% if album.present? %>
          <h2 class="page-header">
            Album of the day - <%= link_to album.title, [album.artist, album] %> <small>by <%= link_to album.artist.name, album.artist %></small>
          </h2>
          <div class="jumbotron">
            <%= link_to [album.artist, album] do %>
              <%= image_tag(album.cover.url, class: "img-responsive center-block") if album.cover? %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <% cache "home_albums", expires_in: 5.minutes do %>
      <div class="albums">
        <h2 class=page-header>New Albums</h2>
        <div id="albums">
          <%= render partial: "albums/album", collection: Album.with_relations.most_recent %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <% cache [signed_in_as_admin?, "home_comments"], expires_in: 5.minutes do %>
      <div class="comments">
        <h2 class=page-header>New Comments</h2>
        <div id="comments">
          <%= render partial: "comments/comment", collection: Comment.most_recent, locals: {with_posted_in: true} %>
        </div>
      </div>
    <% end %>
  </div>
</div>
