<div class="col-md-6">
  <div class="album">
    <h2><%= link_to album.title, [album.artist, album] %> </h2>
    <h3>by <%= link_to album.artist.name, album.artist %> <small><%= "(#{album.tracks.count} Tracks, Time #{album.total_duration})" %></small></h3>
    <div class="icon">
      <%= link_to albums_path(year: album.release_date.year) do %>
        <%= fa_icon "calendar", text: "#{album.release_date.year}" %>
      <% end %>
      <%= link_to albums_path(genre: album.genre.name), class: "spacer-left-xs" do %>
        <%= fa_icon "tag", text: "#{album.genre.name}" %>
      <% end %>
      <%= fa_icon "comment-o", text: "0", class: "spacer-left-xs" %>
    </div>
    <div>
      <%= link_to [album.artist, album] do %>
        <%= image_tag album.cover.small.url if album.cover? %>
      <% end %>
      <ul>
        <% album.tracks_summary.each do |track_title| %>
          <li><%= track_title %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
