<div class="well">
  <%= form_for [artist, album], html: {class: "form-horizontal", multipart: true, id: "album-form"} do |f| %>
    <ul class="list-group" data-behavior="album-form-errors">
      <% if album.errors.any? %>
        <% album.errors.full_messages.each do |msg| %>
          <li class="list-group-item list-group-item-danger"><%= msg %></li>
        <% end %>
      <% end %>
    </ul>

    <div class="form-group <%= has_error?(album, :title) %>">
      <%= f.label :title, class: "col-md-2 control-label" %>
      <div class="col-md-9">
        <%= f.text_field :title, class: "form-control", placeholder: "The Album" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :genre_id, class: "col-md-2 control-label" %>
      <div class="col-md-9">
        <%= f.collection_select :genre_id, Genre.order(:name), :id, :name, {selected: genre_select(album)}, {class: "form-control"} %>
      </div>
    </div>

    <div class="form-group <%= has_error?(album, :year) %>">
      <%= f.label :year, class: "col-md-2 control-label" %>
      <div class="col-md-9">
        <%= f.text_field :year, class: "form-control", placeholder: "2016" %>
      </div>
    </div>

    <div class="form-group <%= has_error?(album, :track_list) %>">
      <%= f.label :track_list, class: "col-md-2 control-label" %>
      <div class="col-md-9">
        <%= f.text_area :track_list, rows: 12, class: "form-control", placeholder: "First Track (5:26)\nSecond Track (4:45)" %>
      </div>
    </div>

    <div class="form-group" data-behavior="album-cover">
      <%= f.label :cover, class: "col-md-2 control-label" %>
      <div class="col-md-9">
        <%= f.file_field :cover, accept: "image/jpeg" %>
        <%= f.hidden_field :cover_cache %>
        <%= image_tag(album.cover.small.url, data: {behavior: "cover-image"}) if album.cover? %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-2 col-md-9">
        <%= link_to "Cancel", back_link, class: "btn btn-default btn-sm" %>
        <%= f.submit "Submit", class: "btn btn-success btn-sm" %>
      </div>
    </div>
  <% end %>
</div>
