<% title("Platters - Albums") %>
<div id="albums">
  <div class="page-header">
    <%= header_text_with_counter(:h1, "Album", @albums.total_count) %>
  </div>

  <div class="list-choice">
    <ul class="pagination pagination-sm justify-content-center">
      <li class="page-item"><%= link_to "All", albums_path, class: "page-link" %></li>
      <% unless params.key?(:search) || params.key?(:random) %>
        <% ("A".."Z").each do |letter| %>
          <li data-behavior="album-letter-picker" class="page-item <%= letter_activity(params, letter) %>"><%= link_to letter, albums_path(add_letter(letter)), class: "page-link" %></li>
        <% end %>
      <% end %>
      <li class="page-item">
        <%= link_to albums_path(random: true), class: "page-link random-link", title: "Random", data: {toggle: "tooltip"} do %>
          <%= fa_icon "random" %>
        <% end %>
      </li>
      <li class="page-item"><a class="page-link filter-link" title="Filter" data-toggle="tooltip" data-behavior="album-filter-link"><%= fa_icon "filter" %></a></li>
      <li class="page-item"><a class="page-link search-link" title="Search" data-toggle="tooltip" data-behavior="album-search-link"><%= fa_icon "search" %></a></li>
    </ul>
  </div>

  <%= render partial: "filter" %>
  <%= render partial: "shared/search", locals: {type: "album", path: albums_path} %>

  <% if @albums.empty? %>
    <h4 class="text-center">No matching albums</h4>
  <% else %>
    <div class="row">
      <%= render partial: "album", collection: @albums %>
    </div>
    <div class="col-lg-8">
      <%= paginate @albums %>
    </div>
  <% end %>
</div>
