<% title("Platter - Albums") %>
<div class="row spacer-bottom-xs">
  <div id="albums">
    <div class="page-header">
      <h1>Albums <small>(<%= number_with_delimiter(@albums.total_count) %> Albums)</small></h1>
    </div>

    <div class="filter text-center">
      <ul class="selection pagination pagination-sm">
        <li><%= link_to "All", albums_path %></li>
        <% unless params.key?(:search) %>
          <% ("A".."Z").each do |letter| %>
            <li data-behavior="album-letter-picker" class=<%= letter_activity(params, letter) %>><%= link_to letter, albums_path(letter: letter) %></li>
          <% end %>
          <li><a class="search-link" data-behavior="album-search-link">Search</a></li>
        <% end %>
        <li><%= link_to "Filters", albums_path %></li>
      </ul>
    </div>

    <div class="search-form row" data-behavior="album-search-form" <%= search_form_visibility(params) %>>
      <%= form_tag albums_path, method: :get, enforce_utf8: false, class: "form-group text-center" do %>
        <div class="col-xs-6 col-xs-offset-3 input-group">
          <%= text_field_tag :search, params[:search], class: "form-control input-sm", placeholder: "Search Albums...", data: {behavior: "album-search-field"} %>
          <span class="input-group-btn">
            <%= button_tag fa_icon("search"), class: "search-submit btn btn-default btn-sm", name: nil %>
          </span>
        </div>
      <% end %>
    </div>

    <div class="album-filters row" hidden>
      <div class="form-group col-xs-2 col-md-offset-2 text-center">
        <%= label_tag :genre_id %>
        <%= select_tag :genre_id, options_from_collection_for_select(Genre.order(:name), :id, :name), {include_blank: "Select", class: "form-control input-sm"} %>
      </div>
      <div class="form-group col-xs-2 text-center">
        <%= label_tag :release_year %>
        <%= text_field_tag :release_year, "Release year", value: "", class: "form-control input-sm" %>
      </div>
      <div class="form-group col-xs-2 text-center">
        <%= label_tag :decade %>
        <%= select_tag :decade, options_for_select([["1960s", 1], ["1970s", 2], ["1980s", 3], ["1990s", 4], ["2000s", 5], ["2010s", 6]]), {include_blank: "Select", class: "form-control input-sm"} %>
      </div>
      <div class="form-group col-xs-2 text-center">
        <%= label_tag :order_by %>
        <%= select_tag :release_decade, options_for_select([["Newest", 1], ["Oldest", 2], ["Length", 3], ["Name", 4]]), {include_blank: "Select", class: "form-control input-sm"} %>
      </div>
      <div class="form-group col-xs-1 text-center">
        <%= button_tag "Submit", class: "submit btn btn-success btn-sm", data: {disable_with: "#{fa_icon('spinner spin')} Submitting..."} %>
      </div>
      </ul>
    </div>

    <%= render partial: "album", collection: @albums %>
    <div class="col-md-12 no-left-padding">
      <%= paginate @albums %>
    </div>
  </div>
</div>
