<div class="row spacer-bottom-xs">
  <div id="albums">
    <div class="page-header">
      <h1>Albums <small>(<%= number_with_delimiter(@albums.total_count) %> Albums)</small></h1>
    </div>

    <div class="btn-toolbar">
      <div class="btn-group btn-group-sm">
        <%= link_to "Digit", albums_path(by_digit: true), class: "btn #{by_digit_btn(params)}" %>
        <% ("A".."Z").each do |letter| %>
          <%= link_to letter, albums_path(by_letter: letter), class: "btn #{by_letter_btn(params, letter)}" %>
        <% end %>
      </div>
    </div>

    <%= render @albums %>
    <div class="col-md-12">
      <%= paginate @albums %>
    </div>
  </div>
</div>
