<% title("Platter - Albums") %>
<div class="row spacer-bottom-xs">
  <div id="albums">
    <div class="page-header">
      <h1>Albums <small>(<%= number_with_delimiter(@albums.total_count) %> <%= "Album".pluralize(@albums.total_count) %>)</small></h1>
    </div>

    <div class="list-choice text-center">
      <ul class="pagination pagination-sm">
        <li><%= link_to "All", albums_path %></li>
        <li><%= link_to "Random", albums_path(random: true) %></li>
        <% unless params.key?(:search) %>
          <% ("A".."Z").each do |letter| %>
            <li data-behavior="album-letter-picker" class=<%= letter_activity(params, letter) %>><%= link_to letter, albums_path(letter: letter) %></li>
          <% end %>
        <% end %>
        <li><a class="search-link" data-behavior="album-search-link">Search</a></li>
        <li><a class="filters-link" data-behavior="album-filters-link">Filters</a></li>
      </ul>
    </div>

    <%= render partial: "search/search", locals: {type: "album", path: albums_path} %>

    <div class="filters row" data-behavior="album-filters-form" hidden>
      <%= form_tag albums_path, method: :get, enforce_utf8: false, button: nil, class: "form-group" do %>
      <div class="form-group col-xs-2 col-md-offset-2 text-center">
        <%= label_tag :genre %>
        <%= select_tag :genre, options_from_collection_for_select(Genre.order(:name), :name, :name), {include_blank: "Choose", class: "form-control input-sm"} %>
      </div>
      <div class="form-group col-xs-2 text-center">
        <%= label_tag :year %>
        <%= text_field_tag :year, "Year", value: "", class: "form-control input-sm" %>
      </div>
      <div class="form-group col-xs-2 text-center">
        <%= label_tag :decade %>
        <%= select_tag :decade, options_for_select([["1960s", 1], ["1970s", 2], ["1980s", 3], ["1990s", 4], ["2000s", 5], ["2010s", 6]]), {include_blank: "Choose", class: "form-control input-sm"} %>
      </div>
      <div class="form-group col-xs-2 text-center">
        <%= label_tag :order %>
        <%= select_tag :order, options_for_select([["Newest", 1], ["Oldest", 2], ["Length", 3], ["Name", 4]]), {include_blank: "Choose", class: "form-control input-sm"} %>
      </div>
      <div class="form-group col-xs-1 text-center">
        <%= button_tag "Select", class: "submit btn btn-success btn-sm", name: nil, data: {disable_with: "#{fa_icon('spinner spin')} Selecting..."} %>
      </div>
      <% end %>
    </div>

    <% if @albums.size == 0 %>
        <h4 class="text-center">No matching albums</h4>
    <% else %>
      <%= render partial: "album", collection: @albums %>
      <div class="col-md-12 no-left-padding">
        <%= paginate @albums %>
      </div>
    <% end %>
  </div>
</div>
