<% title("Platter - Albums") %>
<div class="row spacer-bottom-xs">
  <div id="albums">
    <div class="page-header">
      <h1>Albums <small>(<%= number_with_delimiter(@albums.total_count) %> Albums)</small></h1>
    </div>

    <div class="album-filter text-center">
      <ul class="album-selection pagination pagination-sm">
        <li><%= link_to "All", albums_path %></li>
        <% ("A".."Z").each do |letter| %>
          <li class=<%= letter_activity(params, letter) %>><%= link_to letter, albums_path(letter: letter) %></li>
        <% end %>
        <li><%= link_to "Filter", albums_path %></li>
      </ul>
    </div>

    <%= render partial: "album", collection: @albums %>
    <div class="col-md-12 no-left-padding">
      <%= paginate @albums %>
    </div>
  </div>
</div>
