<div id="albums">
  <div class="page-header">
    <h1>Albums <small>(<%= number_with_delimiter(Album.count) %> Albums)</small></h1>
  </div>

  <div class="btn-toolbar">
    <div class="btn-group btn-group-sm">
      <% ("A".."Z").each do |letter| %>
        <%= link_to letter, albums_path(by_letter: letter), class: "btn #{has_by_letter?(params, letter)}" %>
      <% end %>
        <%= link_to "Other", albums_path, class: "btn btn-default" %>
    </div>
  </div>

  <%= render @albums %>
  <div class="col-sm-9">
    <%= paginate @albums %>
  </div>
</div>
