<% title(@album.title) %>
<div id="album">

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="page-header">
        <h1><%= @album.title %> <small>by <%= link_to @artist.name, @artist %></small></h1>
        <%= link_to album_path, class: "spacer-left-xs action", method: :delete, data: {confirm: "Are you sure you want to remove #{@album.title}"} do %>
          <%= fa_icon "remove" %> Remove
        <% end %>
        <%= link_to edit_artist_album_path(@artist, @album), class: "action" do %>
          <%= fa_icon "edit" %> Edit
        <% end %>
      </div>
    </div>
	<div class="col-md-4 col-md-offset-1">
	  <%= image_tag "cover-lg" %>
	</div>
	<div class="col-md-6">
      <h2>Tracks <small><%= "(#{@tracks.count} Tracks, Time #{@album.total_duration})" %></small></h2>
      <div class="icon">
        <%= fa_icon "calendar", text: "#{@album.release_date.year}" %>
        <%= fa_icon "tag", text: "#{@album.genre.name}", class: "spacer-left-xs" %>
      </div>
	  <table class="table table-striped">
		<thead>
		  <tr>
			<th>No.</th>
			<th>Title</th>
			<th>Duration</th>
		  </tr>
		</thead>
		<tbody>
		  <% @tracks.order(:number).each do |track| %>
			<tr>
			  <td><%= track.number.to_s << "." %></td>
			  <td><%= track.title %></td>
			  <td><%= track.duration_display %></td>
			</tr>
		  <% end %>
		</tbody>
	  </table>
	</div>
  </div>
</div>
