<% title(@album.title) %>
<div id="album">
  <div class="page-header">
    <h1><%= @album.title %> <small>by <%= link_to @artist.name, @artist %></small></h1>
  </div>

  <div class="row">
	<div class="col-md-4">
	  <%= image_tag "cover315" %>
	</div>
	<div class="col-md-6">
	  <h2>Tracks <small>(<%= @tracks.count %> Tracks)</small></h2>
      <div class="icon">
        <%= fa_icon "clock-o", text: "#{@album.release_date.year}" %>
        <%= fa_icon "tag", text: "#{@album.genre.name}", class: "spacer-left-xs" %>
      </div>
	  <table class="table table-striped">
		<thead>
		  <tr>
			<th>No.</th>
			<th>Title</th>
			<th>Duration</th>
		  </tr>
		</thead>
		<tbody>
		  <% @tracks.order(:number).each do |track| %>
			<tr>
			  <td><%= track.number.to_s << "." %></td>
			  <td><%= track.title %></td>
			  <td><%= track.duration_display %></td>
			</tr>
		  <% end %>
		</tbody>
	  </table>
	</div>
  </div>
</div>
