<% title(@user.name) %>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div id="comments" data-behavior="show-more-comments" data-comments-url="<%= @comments_path %>" data-current-page="<%= @comments.current_page %>" data-total-pages="<%= @comments.total_pages %>">
      <div class="page-header">
        <%= header_text_with_counter(:h3, "Comment", @comments.total_count, "User's ") %>
      </div>

      <div data-behavior="comments">
        <% if @comments.count == 0 %>
          <h4 data-behavior="no-comments-posted">User <em><%= @user.name %>has not yet posted any comments.</h4>
        <% else %>
          <%= render partial: "comments/comment", collection: @comments, locals: {with_posted_in: true} %>
        <% end %>
      </div>
      <div id="comments-spinner" class="text-center" data-behavior="comments-spinner" hidden>
        <%= fa_icon "spinner pulse spin" %>
      </div>
    </div>
  </div>
</div>
