<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to root_path, class: "navbar-brand" do %>
          <%= image_tag "platters-white.svg" %> platters
        <% end %>
      </div>
      <div class="collapse navbar-collapse" id="collapse">
        <ul class="nav navbar-nav">
          <li><%= link_to "Artists", artists_path %></li>
          <li><%= link_to "Albums", albums_path %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if signed_in? %>
            <li><p class="navbar-text">Logged in as <%= current_user.email %></p></li>
            <li><%= link_to "Log out", log_out_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Log in", log_in_path %></li>
            <li><p class="navbar-btn spacer-right-md"><%= link_to "Sign up", sign_up_path, class: "btn btn-sm btn-transparent spacer-top-tiny" %></p></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
