<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    <% if content_for?(:title) %>
      <%= yield(:title) %>
    <% else %>
      Platters
    <% end %>
  </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="turbolinks-cache-control" content="<%= turbolinks_cache_control %>">
</head>
<body>
  <%= render "layouts/header" %>
  <div class="main">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12" data-behavior="flash-messages">
          <% flash.each do |key, message| %>
            <div class="alert alert-dismissible alert-<%= key %>">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <% if key == "alert" %>
                <%= fa_icon "warning fw" %>
              <% elsif key == "notice" %>
                <%= fa_icon "info-circle fw" %>
              <% end %>
              <%= message %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </div>
  <%= render "layouts/footer" %>
</body>
</html>
