<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    <% if content_for?(:title) %>
      <%= yield(:title) %>
    <% else %>
      Platters
    <% end %>
  </title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
  <meta name="turbo-cache-control" content="<%= turbo_cache_control %>">
</head>
<body>
  <%= render "layouts/header" %>
  <div class="main">
    <div class="flash-messages" data-behavior="flash-messages">
      <% flash.each do |key, message| %>
        <div class="flash-message alert alert-dismissible alert-<%= key %> fade in">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <% if key == "alert" %>
            <%= fa_icon "warning fw" %>
          <% elsif key == "notice" || key == "success" %>
            <%= fa_icon "info-circle fw" %>
          <% end %>
          <%= message %>
        </div>
      <% end %>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </div>
  <%= render "layouts/footer" %>
</body>
</html>
